div{
    margin: 30px;
}
#first{
    border: 3px solid rgb(111, 198, 178);
    border-radius:15px;
    width: 130px;
    height: 30px;
    color: rgb(111, 198, 178);
    font-weight: bold;
}
#second{
    border: 10px;
    border-radius:50%;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(111, 198, 178);
    font-weight: bold;
    font-size:large;
}
#third{
    border: 3px solid black;
    border-radius:0px;
    width: 150px;
    height: 30px;
    color: white;
    background-color:rgb(27, 102, 223);
    box-shadow: 5px 3px 2px black;
}